<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1.3</string>
    <key>CFBundleVersion</key>
    <string>4</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.picflow.macos.oauth</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>picflow-macos</string>
            </array>
        </dict>
    </array>
    <key>ClerkClientId</key>
    <string>r3Zcs7yzt0s7iLtA</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>Picflow needs permission to read your Capture One selection to automatically upload exported images.</string>
    <key>SUPublicEDKey</key>
    <string>MCowBQYDK2VwAyEA3JVzaSLr5EsUYM1qUqz8rt/9xGzKRwCgHpLTc/CZ7Fs=</string>
    <key>SUFeedURL</key>
    <string>https://picflow.com/download/macos/appcast.xml</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
</dict>
</plist>